---
layout: default
---

<div id="progress-bar"></div>

<article>
    <header class="article-header">
        <h2>{{ page.title }}</h2>
        <div class="post-meta-container">
            <time class="post-date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y年%m月%d日" }}</time>
            <span class="post-word-count">
  {% assign char_count = page.content | strip_html | size %}
  {% if char_count < 400 %}
    {{ char_count }} 字程度
  {% else %}
    {% assign rounded_count = char_count | divided_by: 100 | times: 100 %}
    {{ rounded_count }} 字程度
  {% endif %}
            </span>
    <div class="article-content">
        {{ content }}
    </div>
</article>

<nav class="article-nav">
    <a href="{{ "/" | relative_url }}">← ホームに戻る</a>
</nav>

<div id="scroll-end-message">
    <p>最後まで読んでくれてありがとう！</p>
</div>
